.workspace {
    height: 100%;

    padding: 32px;

    overflow: auto;

    background: var(--bg-primary);
}

.card {
    max-width: 900px;

    padding: 48px;

    background: var(--bg-card);

    border: 1px solid var(--border-light);

    border-radius: 28px;

    h2 {
        margin: 0;

        font-size: 32px;

        color: var(--text-main);
    }

    p {
        margin-top: 12px;

        color: var(--text-secondary);

        font-size: 18px;
    }
}